<div class="product-catalog">
    <table cellpadding="2" cellspacing="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>
                    Image
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in product.items">
                <td>{{item.ProductID}}</td>
                <td>{{item.ProductName}}</td>
                <td>{{item.Category}}</td>
                <td>{{item.Price| currency}}</td>
                <td>
                    <img ng-src="{{item.PicUrl}}" width="105" />
                </td>
            </tr>
        </tbody>
    </table>
</div>