@{
    ViewBag.Title = "MyApp";
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/apps/myapp.js"></script>
}

<div ng-app="MyApp">
    Hello Product
    <br />
    <product-catalog></product-catalog>
</div>